<!DOCTYPE html>
<html lang="en-us">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Page Title</title>
      <meta name="description" content="A description of the page">
      <meta name="robots" content="index,follow">
      <meta name="msapplication-TileColor" content="#FFFFFF">
      <meta name="msapplication-TileImage" content="{{ "/images/" | relative_url }}favicon-144.png">

      <link rel="author" href="humans.txt">

      <link rel="apple-touch-icon-precomposed" href="{{ "/images/" | relative_url }}favicon-152.png">

      <script src="https://use.typekit.net/xjs7gus.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>

      <script src="{{ "/js/" | relative_url }}jquery-3.2.1.min.js"></script>
      <script src="{{ "/js/" | relative_url }}kube.min.js"></script>

      <link rel="stylesheet" href="{{ "/css/" | relative_url }}main.css">
    </head>
  <body>
