.main-navigation {
  font-family: $headings-font-family;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  color: black;
  text-transform: uppercase;
  a {
    color: black;
    text-decoration: none;
    // letter-spacing: 1px;
    &:hover {
      border-bottom: 1px solid lightgrey;
    }
  }
  @include navigation-horizontal($margin: 0 12px 0 0);
}
